@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "./sf.css";
@import "./glass.css";

@media ios {
  :root {
    --font-sans: system-ui;
    --font-rounded: ui-rounded;
    --font-serif: ui-serif;
    --font-mono: ui-monospace;
  }
}

@media android {
  :root {
    --font-sans: normal;
    --font-rounded: normal;
    --font-serif: serif;
    --font-mono: monospace;
  }
}
